
*{
background-color: black;
}
img{
align-items: center;
color: aliceblue;
text-shadow: 2px 3px 4px rgba(29, 128, 123, 0.6);
border-radius: 20px 20px 20px;
box-shadow: 3px 4px 5px 1px ;
}
h1{
margin: 2%;
text-align: center;
color: antiquewhite;
text-shadow: 2px 3px 4px rgb(11, 170, 162);


}

h2{
text-align: center;
font-size: 1%;
color: aliceblue;
font-size: x-small;
}
button{
text-align: center;
color: rgb(0, 0, 0);
width: 150px;
height: 30px;
background-color: aqua;
border-radius: 15px 12px 13px solid rgb(2, 149, 175);
text-shadow: 10px 10px 10px rgba(8, 131, 139, 0);
}
ul,ol,li{
color: aliceblue;

}
p{
color: antiquewhite;
text-align: center;
text-shadow: 2px 3px 4px ;
font-size: 30px;
}
h3{
color: aliceblue;
text-shadow: 2px 3px 4px ;
margin:7%;
font-size: 30px;
width: 100px;


}
body{
background: url(MJ.img/1.png );
}
h4{
font-size: 30px;
color: aliceblue;
text-align: center;
padding: 1%;
text-shadow: 2px 3px 4px rgb(15, 167, 187);
}
